*{margin:0;padding:0;}
img{
    width:100%;
    margin-top: 1rem;
    margin-bottom: 1rem;
}
hr{
    background: #f00;color:#f00;}
div ul li{
    text-align: center;
}
a,p{
    color:gray;
}
ul>li{
    margin-bottom:1rem;
    margin-top:1rem;
}
h4{
    text-align: center;
}