/*  第一次更改*/
*{margin:0;padding:0;}
img{
    width:100%;
    margin-top: 1rem;
    margin-bottom: 1rem;
}
.my_wh{
    width:30%;
    height:55%;
}
p a:link{
    color:#435DFF;
    font-size: 0.9rem;
}
p a:hover{
    color:red;
    text-decoration: none;
    opacity: 0.5;
}
p a:visited{
    color:#6f42c1;
    font-size: 0.9rem;
}
.my_font{
    font-size: 1rem;

}

